@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap')
/* font-family: 'Roboto', sans-serif; */
;

:root {
  font-size: 6.25%;
  /* Browser font size = 16px -> 1rem = 1px... But stick with px (browser page-zooming is more prevalent than customizing font size) */
  --white: white;
  --black: black;
  --gray50: #FAFAFA;
  --gray100:#F5F5F5;
  --gray200: #EEEEEE;
  --gray300: #E0E0E0;
  --gray400: #BDBDBD;
  --gray500: #9E9E9E;
  --gray600: #757575;
  --gray700: #616161;
  --gray800: #424242;
  --gray900: #212121;
  --primaryColor50: #EDE7F6;
  --primaryColor100: #D1C4E9;
  --primaryColor200: #B39DDB;
  --primaryColor300: #9575CD;
  --primaryColor400: #7E57C2;
  --primaryColor500: #673AB7;
  --primaryColor600: #5E35B1;
  --primaryColor700: #512DA8;
  --primaryColor800: #4527A0;
  --primaryColor900: #311B92;
  --secondaryColor50: #E0F2F1;
  --secondaryColor100: #B2DFDB;
  --secondaryColor200: #80CBC4;
  --secondaryColor300: #4DB6AC;
  --secondaryColor400: #26A69A;
  --secondaryColor500: #009688;
  --secondaryColor600: #00897B;
  --secondaryColor700: #00796B;
  --secondaryColor800: #00695C;
  --secondaryColor900: #004D40;
  --goColor: #009688;
  --noGoColor: #EF5350;

  --fontFamily: 'Roboto', Verdana, sans-serif;

  --boxShadow1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --boxShadowTransition1: all 0.3s cubic-bezier(.25,.8,.25,1);
  --boxShadowHover1: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --boxShadow2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --boxShadow3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --boxShadow4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --boxShadow5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  --zIndexDrop: 10;
}

:root * {
  box-sizing: border-box;
}

h1 {
  font-family: var(--fontFamily);
  font-size: 96;
  font-weight: 200;
}

h2 {
  font-family: var(--fontFamily);
  font-size: 60;
  font-weight: 300;
}

h3 {
  font-family: var(--fontFamily);
  font-size: 48;
  font-weight: 400;
}

h4 {
  font-family: var(--fontFamily);
  font-size: 34;
  font-weight: 400;
}

h5 {
  font-family: var(--fontFamily);
  font-size: 24;
  font-weight: 400;
}

h6 {
  font-family: var(--fontFamily);
  font-size: 20;
  font-weight: 500;
}

p {
  font-family: var(--fontFamily);
  font-size: 14;
  font-weight: 400;
}

button {
  font-family: var(--fontFamily);
  font-size: 14;
  font-weight: 500;
  text-transform: uppercase;
}

caption {
  font-family: var(--fontFamily);
  font-size: 12;
  font-weight: 400;
}